<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie ie6 ie-lt10 ie-lt9 ie-lt8 ie-lt7 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 ie-lt10 ie-lt9 ie-lt8 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 ie-lt10 ie-lt9 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 ie-lt10 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->
<!-- the "no-js" class is for Modernizr. -->
<head>

    <meta charset="utf-8">

    <!-- IE rendering engine (even in intranet) & Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- Important stuff for SEO -->
    <title>Shane Ockersz Photography</title>
    <meta name="author" content="Shane Ockersz" />
    <meta name="description" content="Official Website - Shane Ockersz Photography" />

    <!--  Mobile Viewport
http://j.mp/mobileviewport & http://davidbcalhoun.com/2010/viewport-metatag
device-width : Occupy full width of the screen in its current orientation
initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
maximum-scale = 1.0 retains dimensions instead of zooming in if page width < device width (wrong for most sites)
-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/perfect-scrollbar.css" />
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.mousewheel.js"></script>
    <script src="js/perfect-scrollbar.js"></script>

    <!-- Magnific Popup core CSS file -->
    <link rel="stylesheet" href="css/magnific-popup.css"> 

    <!--  Mobile Viewport -->
    <link rel="shortcut icon" type="image/png" href="images/favicon.png"/>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/main.css" />
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Magnific Popup core JS file -->
    <script src="js/jquery.magnific-popup.js"></script> 



    <!-- This is an un-minified, complete version of Modernizr.
Before you move to production, you should generate a custom build that only has the detects you need. -->
    <script src="js/modernizr.dev.js"></script>

    <!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>
<body>

    <script type="text/html" id="albumTemplate">
        {{#each albums}}  
        <div id="{{_id}}" class="single-album">

            <div>
                <img src="images/albums/{{short_name}}/{{album_image}}">
            </div>

            <div>
                <h1>{{name}}</h1>
                <p>{{description}}</p>
            </div>

        </div>
        {{/each}}
    </script><!-- albumTemplate -->


    <script type="text/html" id="photoTemplate">


        {{#each allAlbumphoto}} 



        <div class="single-album-photo" >
            <a href="images/albums/{{#get_album}}{{#each albumDetails}}{{short_name}}{{/each}}{{/get_album}}/{{name}}" rel="prettyPhoto[album]">
                <img src="images/albums/{{#get_album}}{{#each albumDetails}}{{short_name}}{{/each}}{{/get_album }}/thumb/{{thumbnail}}" alt="{{title}}" />
            </a>


        </div>


        {{/each}}
    </script><!-- photoTemplate -->


    <script type="text/html" id="albumNameTemplate">
        {{#each albumDetails}} 
        <img src="images/albums/{{short_name}}/{{album_image}} ">
        <h1>{{name}}</h1>
       {{/each}}
    </script><!-- albumNameTemplate -->

    <div class="container">
        <div id="site-container"  class="clearfix">
            <div id="site-holder">
                <!-- Side Menu -->
                <div id="side-menu">

                    <img class="logo" src="images/logo.png" alt="Shane Ockersz Photography Logo">
                    <div class="lemo-cycle"></div>

                    <nav>
                        <ul id="main-nav">
                            <li id="home" class="active">Home</li>
                            <li id="albums">Albums</li>
                            <li id="about">About</li>
                            <li id="contact">Contact</li>
                        </ul>
                    </nav>

                    <div class="lemo-cycle"></div>

                    <div id="social-media">
                        <div>
                            <a href="#" target="_black"><img src="images/social/facebook.png"></a>
                            <a href="#" target="_black"><img src="images/social/twitter.png"></a>
                            <a href="#" target="_black"><img src="images/social/pinterest.png"></a>
                            <a href="#" target="_black"><img src="images/social/insagram.png"></a>
                            <a href="#" target="_black"><img src="images/social/youtube.png"></a>
                        </div>
                    </div>

                </div><!--END Side Menu-->

                <!--Body Container-->
                <div id="body-container">

                    <!-- Albums -->
                    <div id="albums-container" class="custom-scoller">
                        <div id="set-albums">

                        </div>
                    </div><!-- albums -->

                    <!-- Album photo -->
                    <div id="album-photo-container">

                        <div class="album-photo-header">

                            <div id="album-details">

                            </div><!-- album-details -->

                            <div class="album-close-button">
                                <img src="images/close.png">
                            </div>

                        </div><!-- album-photo-header -->

                        <div id="album-photo" class="custom-scoller gallery clearfix">
                            <div id="set-album-photo">

                            </div>
                        </div><!-- album-photo -->

                    </div><!-- album-photo-container -->

                    <div id="about-container">
                        <div>
                            <div><h1>Shane Ockerz Photography</h1>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. </p>
                                <p>Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. </p>
                                <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. </p>
                            </div>
                            <div><img src="images/profile-pic.jpg"></div>
                        </div>
                    </div><!-- about-container -->

                    <div id="contact-container" class="custom-scoller">
                        <div>
                            <div><h1>Send me your inquiry or give me your feedback</h1></div>
                            <div>
                                <form>
                                    <div>
                                        <label for="contact-name">Name</label> <br/>
                                        <input type="text" id="contact-name"> <br/> <br/>

                                        <label for="contact--number">Contact Number</label> <br/>
                                        <input type="tel" id="contact--number"> <br/> <br/>

                                        <label for="contact-email">E-mail</label> <br/>
                                        <input type="email" id="contact-email"> <br/> <br/>

                                        <label for="contact-address">Address</label> <br/>
                                        <textarea id="contact-address"></textarea>
                                    </div>

                                    <div>
                                        <label for="contact-country">Country</label> <br/>
                                        <input type="text" id="contact-country"> <br/> <br/>

                                        <label for="contact-feedback">Inquiry/Feedback</label> <br/>
                                        <textarea id="contact-feedback"></textarea>

                                        <button>
                                            <span class="fa fa-camera"></span>
                                            &nbsp; Smile &nbsp; 
                                            <span class="fa fa-chevron-right">
                                                </button>
                                            </div>
                                        </form>
                                    </div> 
                            </div>
                        </div><!-- contact-container -->

                    </div><!-- body-container -->
                </div><!-- site-holder -->
            </div><!-- site-container -->

            <div class="main">
                <ul id="cbp-bislideshow" class="cbp-bislideshow">

                    <li><img src="images/background-slide/01.jpg" alt="image01"/></li>
                    <li><img src="images/background-slide/02.jpg" alt="image02"/></li>
                    <li><img src="images/background-slide/03.jpg" alt="image03"/></li>
                    <li><img src="images/background-slide/04.jpg" alt="image04"/></li>
                    <li><img src="images/background-slide/05.jpg" alt="image05"/></li>
                    <li><img src="images/background-slide/06.jpg" alt="image06"/></li>
                    <li><img src="images/background-slide/07.jpg" alt="image07"/></li>
                    <li><img src="images/background-slide/08.jpg" alt="image08"/></li>

                </ul>
            </div>
        </div>



        <script src="js/jquery.ui.js"></script>
        <script type="text/javascript" src="js/jquery.prettyPhoto.js"></script> 
        <script type="text/javascript" src="js/handlebars.js"></script> 

        <!--scripts for background slider-->
        <script src="js/jquery.mousewheel.js"></script>
        <script src="js/jquery.imagesloaded.min.js"></script>
        <script src="js/cbpBGSlideshow.js"></script>

        <script src="js/main.js"></script>

        <script type="text/javascript">
            $(document).ready(function() {
                $('.single-album-photo').magnificPopup({type:'image',
                                                        delegate: 'a',
                                                        mainClass: 'mfp-with-zoom',

                                                        zoom: {
                                                            enabled: true,

                                                            duration: 300,
                                                            easing: 'ease-in-out',

                                                            opener: function(openerElement) {

                                                                return openerElement.is('img') ? openerElement : openerElement.find('img');
                                                            }
                                                        }
                                                       });

            });
        </script>

        <script>

            $(function() {
                cbpBGSlideshow.init();
            });

        </script>

        <script type="text/javascript" charset="utf-8">
            $(document).ready(function(){
                $("area[rel^='prettyPhoto']").prettyPhoto();

                $(".gallery:first a[rel^='prettyPhoto']").prettyPhoto({animation_speed:'normal',theme:'light_square',slideshow:3000, autoplay_slideshow: true,allow_resize: false});
                $(".gallery:gt(0) a[rel^='prettyPhoto']").prettyPhoto({animation_speed:'fast',slideshow:10000, hideflash: true,allow_resize: false});

                $("#custom_content a[rel^='prettyPhoto']:first").prettyPhoto({
                    custom_markup: '<div id="map_canvas" style="width:260px; height:265px"></div>',
                    changepicturecallback: function(){ initialize(); }
                });

                $("#custom_content a[rel^='prettyPhoto']:last").prettyPhoto({
                    custom_markup: '<div id="bsap_1259344" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6"></div><div id="bsap_1237859" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6" style="height:260px"></div><div id="bsap_1251710" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6"></div>',
                    changepicturecallback: function(){ _bsap.exec(); }
                });
            });
        </script>

        <script>
            jQuery(document).ready(function ($) {
                "use strict";
                $('.custom-scoller').perfectScrollbar();
            });

        </script>

        </body>
    </html>