.clear{ clear: both; }

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }
.top40 { margin-top:40px; }
.top50 { margin-top:50px; }
.top60 { margin-top:60px; }

.top5p { margin-top:5%; }
.top7p { margin-top:7%; }
.top10p { margin-top:10%; }
.top15p { margin-top:15%; }
.top17p { margin-top:17%; }
.top30p { margin-top:30%; }
.top40p { margin-top:40%; }

.pad-bottom5{ padding-bottom: 5px;}
.pad-bottom10{ padding-bottom: 10px;}
.pad-bottom15{ padding-bottom: 15px;}
.pad-bottom20{ padding-bottom: 20px;}
.pad-bottom25{ padding-bottom: 25px;}


h1{
    font-size: 1.5em;
    line-height: 2em;
    vertical-align: middle;
    float: left;
}

h1:hover{
	text-decoration: none;
}
a{
	vertical-align: middle;
}
a:hover{
		text-decoration: none;
}

h1 span{
	font-size: 2em;
	float: left;
}

.camera-icon div{width: 200px;}
.camera-icon div span{font-size: 3em; color: red;}

#admin-login{
	border: none;
	background-color: transparent;
	color: #0099FF;
	font-size: 2.5em;
	outline: none;
	box-shadow: none;
	padding: 0;
}

#admin-login:hover{
	opacity: 0.5;
}

#admin-login:active{
	opacity: 1;
	outline: none;
}