/*******************************************************************

                         Inline.lk Group

Project : Paradise Orchids

CSS for Fonts
*******************************************************************/

@font-face {
    font-family: 'myhotabold';
    src: url('../fonts/myhota_bold.eot');
    src: url('../fonts/myhota_bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/myhota_bold.woff') format('woff'),
        url('../fonts/myhota_bold.ttf') format('truetype'),
        url('../fonts/myhota_bold.svg#myhotabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'myhotaplain';
    src: url('../fonts/myhota-plain.eot');
    src: url('../fonts/myhota-plain.eot?#iefix') format('embedded-opentype'),
        url('../fonts/myhota-plain.woff') format('woff'),
        url('../fonts/myhota-plain.ttf') format('truetype'),
        url('../fonts/myhota-plain.svg#myhotaplain') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'Myriad Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Regular'), url('../fonts/myriad-pro/MYRIADPRO-REGULAR.woff') format('woff');
}


@font-face {
    font-family: 'Myriad Pro Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Condensed'), url('../fonts/myriad-pro/MYRIADPRO-COND.woff') format('woff');
}


@font-face {
    font-family: 'Myriad Pro Semibold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Semibold Italic'), url('../fonts/myriad-pro/MYRIADPRO-SEMIBOLDIT.woff') format('woff');
}


@font-face {
    font-family: 'Myriad Pro Semibold';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Semibold'), url('../fonts/myriad-pro/MYRIADPRO-SEMIBOLD.woff') format('woff');
}


@font-face {
    font-family: 'Myriad Pro Condensed Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Condensed Italic'), url('../fonts/myriad-pro/MYRIADPRO-CONDIT.woff') format('woff');
}


@font-face {
    font-family: 'Myriad Pro Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Bold Italic'), url('../fonts/myriad-pro/MYRIADPRO-BOLDIT.woff') format('woff');
}


@font-face {
    font-family: 'Myriad Pro Bold Condensed Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Bold Condensed Italic'), url('../fonts/myriad-pro/MYRIADPRO-BOLDCONDIT.woff') format('woff');
}


@font-face {
    font-family: 'Myriad Pro Bold Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Bold Condensed'), url('../fonts/myriad-pro/MYRIADPRO-BOLDCOND.woff') format('woff');
}


@font-face {
    font-family: 'Myriad Pro Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Bold'), url('../fonts/myriad-pro/MYRIADPRO-BOLD.woff') format('woff');
}