/*******************************************************************

Inline.lk Group

Project : Shane Ockersz Photography

*******************************************************************/


/******************************************
Basic Styling
**********************************************/
body{
    background-color: #000;
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

.clear{ clear: both; }

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }
.top40 { margin-top:40px; }

.top5p { margin-top:5%; }
.top7p { margin-top:7%; }
.top10p { margin-top:10%; }
.top15p { margin-top:15%; }
.top17p { margin-top:17%; }
.top30p { margin-top:30%; }
.top40p { margin-top:40%; }

.pad-bottom5{ padding-bottom: 5px;}
.pad-bottom10{ padding-bottom: 10px;}
.pad-bottom15{ padding-bottom: 15px;}
.pad-bottom20{ padding-bottom: 20px;}
.pad-bottom25{ padding-bottom: 25px;}

/*********************************************
Basic Styling END
********************************************/


/*********************************************
Webkit Scrollbar
********************************************/
/*::-webkit-scrollbar{
    width: 10px;
    padding-top: 40px;
}

::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
    border: 1px solid black;
    background: rgb(41,41,41);
    border-radius: 10px;

}
::-webkit-scrollbar-thumb{
    border-radius:10px;
    height: 30px;
    width: 15px;
    border: 1px solid black;
    background: rgb(111,111,111);
    -webkit-box-shadow: 0 1px 1px rgb(0,0,0);
    background: -webkit-linear-gradient(rgb(200,200,200), rgb(150,150,150));
}

::-webkit-scrollbar-track-piece {
    height: 30px;
}
*/
/*********************************************
Side Menu
********************************************/
#site-holder{
    overflow: auto;/**/
}
#site-holder #side-menu{
    float: left;
  /* position: fixed;/**/
    width:20%;
    height:100vh;
    z-index: 99;
}

#side-menu nav{
    clear: both;
    margin-top: 5%;
    margin-left:20px;
}

#side-menu nav ul{
    list-style: none;
    padding:0;
    margin:0;
    font-size: 1.5em;
       /*font-size: 10vw;*/
    text-decoration: none;  
}

#side-menu nav ul li{
    padding: 10px 0 10px 15px;
    cursor: pointer;
    border-top: 1px solid gray;
    color:gray;
}

#side-menu nav ul li:last-child{
    border-bottom: 1px solid gray;
}

#side-menu nav ul li.active{
    color:#fff;
}

#side-menu img.logo{
    display: block;
    width:90%;
    margin: 10% 5% 30% 5%;
    cursor: pointer;
}

#side-menu .lemo-cycle{
    width: 100%;
    height: 25px;
    margin-top: 10%;
    margin-bottom: 10%;
    background-image:url(../images/lemo-cycle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/*********************************************
Social Media
********************************************/

#side-menu #social-media{
    width: 100%;
    height: 30px;
    margin-top: 50px;
    text-align: center;
}

#side-menu #social-media > div{
    display:inline-block;
    margin: 0 auto;
}

#side-menu #social-media a{
    display: inline-block;
    float: left;
    width: 30px;
    text-decoration: none;
    outline: none;
    border: none;
    padding: 0;
    margin: 0 5px 0 5px;
}

#side-menu #social-media a img{
    text-decoration: none;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
}

#side-menu #social-media a img:hover{
    opacity: 0.5;
}

#side-menu #social-media a img:active{
    opacity: 1;
}
/************************************************
Body Container
/***********************************************/

#site-container #body-container{
    position: relative;
    float:right;
    width:80%;
    height:100vh;
    box-sizing: border-box;
    color:#462f4a;
    overflow: hidden;
    z-index: 80;
    padding: 4%;
}

.ps-scrollbar-x{display: none;}


#site-container #albums-container,
#site-container #album-photos-container,
#site-container #about-container,
#site-container #contact-container{
     position: relative;
/*    height: 100%;
    width:100%;
    box-sizing: border-box;*/
    color: #fff;
    overflow: hidden;
    background-color: rgba(115, 115, 115, 0.1); 
    box-shadow: 0 0 5px 2px #000;
        height: 90%;
        width:100%;
    padding: 2%;
    box-sizing: content-box;
    /*display: none; /***/
     /*border:1px solid red;/**/
}

/************************************************
Albums
/***********************************************/


#site-container #albums-container{
    box-shadow: none;
    height: 90%;
    padding: 2%;
    box-sizing: content-box;/**/
    display: none;/**/
}

#albums-container .single-album{
    width: 40%;
    height: auto;
    padding: 10px;
    margin-bottom: 40px;
    background-color: rgba(000, 000, 000, 0.5); 
    float: left;
    cursor: default;
}

#albums-container .single-album:hover{
    background-color: rgba(100, 100, 100, 0.5); 
}

#albums-container .single-album:nth-child(even){
margin-left: 5%;
}

#albums-container .single-album > div{
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
}

#albums-container .single-album > div:first-child{
    width: 35%;
}

#albums-container .single-album > div:last-child{
    width: 65%;
    padding: 0;
    margin: 0;
    padding: 5%;
    box-sizing: border-box;
}

#albums-container .single-album > div > img{
    width: 100%;
    max-height: 140px;
    min-height:140px; 
    display: block;
    padding: 0;
    margin: 0;
}

#albums-container .single-album > div > h1{
    padding: 0 0 1% 5%;
    margin: 0;
    font-size: 1.4em;
    border-bottom: 2px solid rgba(115, 115, 115, 0.5);
}

#albums-container .single-album > div > p{
    padding: 10px;
    margin: 0;
    font-size: 0.8em;
}


/****************************************
Album Photos Container
********************************************/
#site-container #album-photos-container{
    background-color: rgba(000, 000, 000, 0.6); 
  padding: 2% 0 2% 2%;
  display: none; /***/ 
}

#site-container #album-photos-container .album-photos-header{
    width: 100%;
    height: 15%;
    box-sizing: border-box;
    overflow: hidden;
}

#site-container #album-photos-container .album-photos-header #album-details > img{
    width: 70px;
    height: 70px;
    margin: 2px;
    display: block;
    float: left;
    box-sizing: border-box;
    box-shadow: 0 0 5px 1px #8c080b;
}

#site-container #album-photos-container .album-photos-header h1{
    display: block;
    float: left;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    margin-top: 2%;
    margin-left:20px; 
}

#site-container #album-photos-container .album-photos-header .album-close-button img{
    display: block;
    float: right;
    width: 15px;
    height: 15px;
    margin-right: 20px;
    opacity: 0.5;
}

#site-container #album-photos-container .album-photos-header .album-close-button img:hover{
    opacity: 1;
}

#site-container #album-photos-container .album-photos-header .album-close-button img:active{
    opacity: 0.5;
}


#site-container #album-photos-container #album-photos{
        overflow: hidden;
    position: relative;
    width: 90%;
    height: 85%;
    margin: 0 3% 0 7%;
    box-sizing: border-box;

}

#site-container #album-photos-container #album-photos .single-album-photo{
    float: left;
    margin-right: 48px;
    width: 160px;
    height: 160px;
    overflow: hidden;
    background: #111;
    box-shadow: 0px 0px 10px #000;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    color: #cb7d20;
    margin: 20px;

}

#site-container #album-photos-container #album-photos .single-album-photo:hover {
    -moz-transform: scale(1.2);
    -moz-transform-origin: center top;
    -webkit-transform: scale(1.2);
    -webkit-transform-origin: center top;
    transform: scale(1.2);
    transform-origin: center top;
    background: #333;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 0px 0px 10px #000;
  /*  overflow: visible;*/
}

#site-container #album-photos-container #album-photos .single-album-photo img{
/*    display: block;/**/
    width: 100%;
    height: 100%  /**/
}


/****************************************
About
********************************************/
#site-container #about-container{
    background-color: rgba(000, 000, 000, 0.6); 
   /* box-sizing: border-box;    */
   box-sizing: content-box;
    /*padding: 4%;*/
    display: none;/**/
}

#site-container #about-container > div > div{
    box-sizing: border-box;
    display: block;
    float: left;
}

#site-container #about-container > div > div:first-child{
    width: 70%;
    padding: 0 4% 0 0;
    text-align: justify;
}

#site-container #about-container > div > div:last-child{
    width: 30%;
}

#site-container #about-container > div > div:last-child img{
    display: block;
    width: 100%;
}

/****************************************
Contact
********************************************/
#site-container #contact-container{
    background-color: rgba(000, 000, 000, 0.5); 
    overflow: hidden;
    box-sizing: content-box;
   /* padding: 4%;*/
    display: none;
}

#site-container #contact-container > div > div{
        box-sizing: border-box; 
    width: 100%;
}

#site-container #contact-container > div > div:first-child{
    height: 15%;
}

#site-container #contact-container > div > div h1{
    font-size: 1.2em;
    text-shadow: 1px 1px 3px #000000;
}

#site-container #contact-container > div > div:last-child{
    height: 85%;
}

#site-container #contact-container > div > div:last-child > form {
    width: 100%;
    height: 100%;
}

#site-container #contact-container > div > div:last-child > form > div{
    width: 50%;
    height: 100%;
    float: left;
    box-sizing: border-box; 
    padding-top: 2%;

}

#site-container #contact-container > div > div:last-child >  form > div:first-child{

}

#site-container #contact-container > div > div:last-child >  form > div:last-child button{
    display: block;
    margin-top: 40px;
    margin-left: 20px;
    width: 25%;
    height: 30px;
    border: none;;
    outline: none;
    font-weight: bold;
    font-size: 1em;
    background-color: rgba(255, 255, 255, 0.5); 
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

#site-container #contact-container > div > div:last-child >  form > div:last-child button span{
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    color: #8f0609;
}

#site-container #contact-container > div > div:last-child >  form > div:last-child button:hover {
    background-color: rgba(143, 6, 9, 0.5); 
}

#site-container #contact-container > div > div:last-child >  form > div:last-child button:hover span{
    color:#fff;
}

#site-container #contact-container > div > div:last-child >  form > div:last-child button:active {
    background-color: rgba(255, 255, 255, 0.5); 
}

#site-container #contact-container > div > div:last-child >  form > div:last-child button:active span{
    color: #8f0609;
}

label,
input,
textarea{
    width:70%;
    height: 30px;
    box-sizing: border-box;
    font-family: Arial;
    border:none;
    padding:0 3px 0 3px;
    font-size: 1em;
    letter-spacing: 1px;
    resize: none;
}

input,
textarea{
    margin-top: 2%;
    background-color: rgba(115, 115, 115, 0.3);
    color: #fff;
    font-size: 0.8em;
}

label{
    text-shadow: 1px 1px 3px #000000;
    padding-left: 4%;
}

textarea{
    height: 80px;
}

/****************************************************************************************************
/****************************************
Background Image Slider
********************************************/
.cbp-bislideshow {
    list-style: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    padding: 0;
    margin: 0;
}

.cbp-bislideshow li {
    position: absolute;
    width: 101%;
    height: 101%;
    top: -0.5%;
    left: -0.5%;
    opacity: 0;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    transition: opacity 1s;
}

/* If background-size supported we'll add the images to the background of the li */

.backgroundsize .cbp-bislideshow li {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center center;
}

/* ...and hide the images */
.backgroundsize .cbp-bislideshow li img {
    display: none;
}

.cbp-bislideshow li img {
    display: block;
    width: 100%;
}

.cbp-bicontrols {
    position: fixed;
    width: 300px;
    height: 100px;
    margin: -50px 0 0 -150px;
    top: 50%;
    left: 50%;
}

.cbp-bicontrols span {
    float: left;
    width: 100px;
    height: 100px;
    position: relative;
    cursor: pointer;
}

.cbp-bicontrols span:before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    font-family: 'entypo';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 100px;
    font-size: 80px;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    opacity: 0.7;
}

.cbp-bicontrols span:hover:before {
    opacity: 1;
}

.cbp-bicontrols span:active:before {
    top: 2px;
}

span.cbp-biplay:before {
    content: "\e002";
}

span.cbp-bipause:before {
    content: "\e003";
}

span.cbp-binext:before {
    content: "\e000";
}

span.cbp-biprev:before {
    content: "\e001";
}

.cbp-bicontrols span.cbp-binext {
    float: right;
}

/* Fallback */

.no-js.no-backgroundsize .cbp-bislideshow li:first-child {
    opacity: 1;
}

.no-js.backgroundsize .cbp-bislideshow li:first-child img {
    display: block;
}
/****************************************
END Background Image Slider
********************************************/